.application__title
  width: 100%
  font-family: $font-stack-montserrat
  font-size: 1.125rem
  font-weight: $bold
  font-style: normal
  line-height: normal
  color: #000000

.application__descr
  display: none

@media(min-width: 768px)

  .application__descr
    display: block
    font-family: $font-stack-montserrat
    font-size: 1rem
    font-weight: $regular
    font-style: normal
    line-height: normal
    color: #000000

@media(min-width: 992px)

  .application__title
    width: 500px


  