.btn
  font-size: 18px
  font-weight: $medium
  line-height: normal
  color: #ffffff
  border-radius: 0

.btn_red
  background-color: $btn-red

.btn_blue
  background-color: $btn-blue

@media(min-width: 576px)

  .btn_red
    font-size: 16px

@media(min-width: 768px)

  .btn_red
    font-size: 18px