.descr
  width: 100%
  height: 1080px
  margin-top: 83px
  padding-top: 83px
  font-family: $font-stack-bebas
  background-image: linear-gradient(351deg, rgba(255, 255, 255, 0), rgba(24, 151, 196, 0) 60%, rgba(13, 146, 193, 0.95)), url(../img/descr-background.jpg)
  background-position: top
  background-size: cover
  background-repeat: no-repeat

.descr__wrapper
  width: 100%
  height: 410px

.descr__title
  top: 100px
  left: 50%
  margin-left: -230px

.descr__text
  top: 200px
  left: 50%
  margin-left: -183px
  box-shadow: 0 0 35px 24px rgba(0, 150, 199, 0.6)
  background-color: rgba(0, 150, 199, 0.6)

.descr__phones
  width: 100% 
  height: 100px

@media(min-width: 576px)

  .descr
    margin-top: 0px
    padding-top: 176px

  .descr__title
    width: 600px
    margin-left: -330px

  .descr__text
    margin-left: -263px

@media(min-width: 768px)

  .descr
    padding-top: 191px

  .descr__title
    width: 900px
    margin-left: -500px

  .descr__text
    top: 300px
    margin-left: -383px

  .descr__wrapper
    height: 500px

@media(min-width: 992px)

  .descr
    height: 900px

@media(min-width: 1200px)

  .descr
    height: auto
    padding-top: 131px

  .descr__wrapper
    width: 700xp
    height: 500px

  .descr__phones
    width: 600px
    height: 500px

  .descr__title
    width: 1200px
    top: 150px
    margin-left: -600px

  .descr__text
    top: 350px
    margin-left: -443px

  .descr__wrapper
    height: 710px

  .descr__phones
    height: 710px

@media(min-width: 1640px)

  .descr
    height: 1080px

  .descr__title
    width: 1400px
    top: 300px
    margin-left: -700px

  .descr__text
    top: 550px
    margin-left: -520px

  .descr__wrapper
    height: 760px

  .descr__phones
    height: 760px

