.info
  padding-bottom: 80px
  background-image: url(../img/info-background.png)
  background-position: bottom
  background-repeat: no-repeat
  background-size: cover

@media(min-width: 1640px)

  .info
    .container
      padding-left: 229px
      padding-right: 229px
