.link
  &:hover
    color: #ffffff
  &:focus
    outline: none
  &:active
    opacity: 0.7

.link_border
  &:hover
    color: $btn-red

.link_button
  background-color: transparent
  border-color: transparent
  cursor: pointer

.link_post
  // padding-left: 10px
  // padding-right: 10px
  &:hover
    text-decoration: none
    box-shadow: 0 0 0 13px rgba(0, 150, 199, 0.44)

  &:active
    opacity: 1

@media(min-width: 576px)

  .link_border
    &:hover
      background-color: transparent
    &:active
      opacity: 1
      background-color: transparent

  .link_border,
  .link_border:after,
  .link_border:before 
    transition: all .5s
  
  .link_border:hover 
    // color: #555
    color: rgb(207, 35, 75)

  .link_border 
    position: relative
  
  .link_border:after
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: auto
    width: 0%
    content: '.'
    color: transparent
    background: #aaa
    background: $btn-red
    // height: 1px
    height: 5px
  
  .link_border:hover:after 
    width: 100%

